footer
	.container
		.row
			.col-sm-3
				h5 ACCESSORIES
				P  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio obcaecati, eveniet inventore possimus ratione vero veritatis id pariatur itaque dignissimos quam corrupti 
				.enlace
					a(href="")
						span.fa.fa-facebook
					a(href="")
						span.fa.fa-twitter
					a(href="")
						span.fa.fa-rss
					a(href="")
						span.fa.fa-skipe
					a(href="")
						span.fa.fa-dribbble
			.col-sm-2
				h5 MY ACCOUNT
				ul
					a
						span.fa.fa-caret-right My Account
						span.fa.fa-caret-right Order History
						span.fa.fa-caret-right Lish List
						span.fa.fa-caret-right Newsletter
			.col-sm-2
				h5 INFORMATION
				ul
					a
						span.fa.fa-caret-right About Us
						span.fa.fa-caret-right Delivery Information
						span.fa.fa-caret-right Privacy Policy
						span.fa.fa-caret-right Terms & Conditions
			.col-sm-2
				h5 EXTRAS
				ul
					a
						span.fa.fa-caret-right Brands
						span.fa.fa-caret-right Gift Vouchchers
						span.fa.fa-caret-right Affiliates
						span.fa.fa-caret-right Spacials
			.col-sm-3
				h5 ABOUT US
				ul
					a
						span.fa.fa-map 
							span 8901 Marmora Road, Glasgow D04 89
							span gr, New York
						span.fa.fa-caret-right 
							span (0123)456789
							span (0123)456789
						span.fa.fa-masseger admin@bootextperts.com
		.row
			.col-sm-6
				p Copyrught 2015 &#169; 
					span BootExperts.
					| All rights reserved
			.col-sm-6.text-right
				img(src="assets/images/payment.png")


							



